<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title 1</title>
</head>
<body>
  <div>
      <h1>This is <%= name %> </h1>
      <p>This is the response page this is the respresponse page this is the response page</p>
      <a href="/2">Go to 2</a>
      <p></p>
  </div>
</body>
</html>